<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

<servlet>
	<servlet-name>devnull</servlet-name>
	<servlet-class>com.gwtpro.html5.fileapi.server.DevNullUploadServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>devnull</servlet-name>
	<url-pattern>/fileapi/upload-test</url-pattern>
</servlet-mapping>
  
<!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FileAPI.html</welcome-file>
  </welcome-file-list>

</web-app>
